# Merge the datasets

# Imports

In [46]:
import pandas as pd

In [47]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 40)
pd.set_option('display.width', 1000)

## Data load

In [48]:
df1 = pd.read_csv('data/tps00071_linear_2_0.csv')
df1.head(5)

df1 = df1[df1['TIME_PERIOD'] >= 2014]
df1.head()

  STRUCTURE         STRUCTURE_ID                                 STRUCTURE_NAME freq Time frequency isco08 International Standard Classification of Occupations 2008 (ISCO-08) wstatus Labour force and employment status worktime Working time     age            Age class sex    Sex unit Unit of measure geo Geopolitical entity (reporting)  TIME_PERIOD  Time  OBS_VALUE  Observation value OBS_FLAG Observation status (Flag) V2 structure  CONF_STATUS  Confidentiality status (flag)
1  dataflow  ESTAT:TPS00071(1.0)  Hours worked per week of full-time employment    A         Annual  TOTAL                                              Total                      EMP                   Employed persons       FT    Full-time  Y15-64  From 15 to 64 years   T  Total   HR            Hour  AT                         Austria         2014   NaN       42.9                NaN      NaN                                    NaN          NaN                            NaN
2  dataflow  ESTAT:TPS00071(1.0)  Hours worked per week of full-time employment    A         Annual  TOTAL                                              Total                      EMP                   Employed persons       FT    Full-time  Y15-64  From 15 to 64 years   T  Total   HR            Hour  AT                         Austria         2015   NaN       42.8                NaN      NaN                                    NaN          NaN                            NaN
3  dataflow  ESTAT:TPS00071(1.0)  Hours worked per week of full-time employment    A         Annual  TOTAL                                              Total                      EMP                   Employed persons       FT    Full-time  Y15-64  From 15 to 64 years   T  Total   HR            Hour  AT                         Austria         2016   NaN       42.8                NaN      NaN                                    NaN          NaN                            NaN
4  dataflow  ESTAT:TPS00071(1.0)  Hours worked per week of full-time employment    A         Annual  TOTAL                                              Total                      EMP                   Employed persons       FT    Full-time  Y15-64  From 15 to 64 years   T  Total   HR            Hour  AT                         Austria         2017   NaN       42.7                NaN      NaN                                    NaN          NaN                            NaN
5  dataflow  ESTAT:TPS00071(1.0)  Hours worked per week of full-time employment    A         Annual  TOTAL                                              Total                      EMP                   Employed persons       FT    Full-time  Y15-64  From 15 to 64 years   T  Total   HR            Hour  AT                         Austria         2018   NaN       42.5                NaN      NaN                                    NaN          NaN                            NaN

In [49]:
df2 = pd.read_csv('data/OECD.SDD.TPS,US.csv')
df2.head()

  STRUCTURE                      STRUCTURE_ID         STRUCTURE_NAME ACTION REF_AREA Reference area FREQ Frequency of observation MEASURE                            Measure ACTIVITY       Economic activity UNIT_MEASURE                     Unit of measure PRICE_BASE                     Price base TRANSFORMATION        Transformation ASSET_CODE      Asset type CONVERSION_TYPE Conversion type  TIME_PERIOD  Time period  OBS_VALUE  Observation value OBS_STATUS Observation status  UNIT_MULT Unit multiplier  BASE_PER  Base period  DECIMALS Decimals
0  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2017          NaN  60.894970                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
1  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted          V                 Current prices              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2017          NaN  55.898245                NaN          A       Normal value          0           Units       NaN          NaN         2      Two
2  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted          V                 Current prices              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2024          NaN  81.473991                NaN          A       Normal value          0           Units       NaN          NaN         2      Two
3  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted          V                 Current prices              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2016          NaN  55.681847                NaN          A       Normal value          0           Units       NaN          NaN         2      Two
4  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2016          NaN  60.627535                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two

In [50]:
df3  = pd.read_csv('data/OECD.SDD.TPS,DSD_PDB@DF_PDB,2.0+.A.GVAHRS._T.USD_PPP_H..N...csv')
df3.head()

  STRUCTURE                      STRUCTURE_ID         STRUCTURE_NAME ACTION REF_AREA Reference area FREQ Frequency of observation MEASURE                            Measure ACTIVITY       Economic activity UNIT_MEASURE                     Unit of measure PRICE_BASE                     Price base TRANSFORMATION        Transformation ASSET_CODE      Asset type CONVERSION_TYPE Conversion type  TIME_PERIOD  Time period  OBS_VALUE  Observation value OBS_STATUS Observation status  UNIT_MULT Unit multiplier  BASE_PER  Base period  DECIMALS Decimals
0  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2024          NaN  55.244685                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
1  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2023          NaN  62.001136                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
2  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted          V                 Current prices              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2023          NaN  78.421364                NaN          A       Normal value          0           Units       NaN          NaN         2      Two
3  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted          V                 Current prices              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2022          NaN  76.717940                NaN          A       Normal value          0           Units       NaN          NaN         2      Two
4  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2022          NaN  61.832129                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two

In [51]:
df1.columns

df1["Geopolitical entity (reporting)"].unique()

array(['Austria', 'Bosnia and Herzegovina', 'Belgium', 'Bulgaria',
       'Switzerland', 'Cyprus', 'Czechia', 'Germany', 'Denmark',
       'Euro area – 20 countries (from 2023)', 'Estonia', 'Greece',
       'Spain', 'European Union - 27 countries (from 2020)', 'Finland',
       'France', 'Croatia', 'Hungary', 'Ireland', 'Iceland', 'Italy',
       'Lithuania', 'Luxembourg', 'Latvia', 'Montenegro',
       'North Macedonia', 'Malta', 'Netherlands', 'Norway', 'Poland',
       'Portugal', 'Romania', 'Serbia', 'Sweden', 'Slovenia', 'Slovakia',
       'Türkiye', 'United Kingdom'], dtype=object)

In [52]:
df2["Reference area"].unique()

array(['Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 'Colombia',
       'Costa Rica', 'Czechia', 'Denmark', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel',
       'Italy', 'Japan', 'Korea', 'Latvia', 'Lithuania', 'Luxembourg',
       'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland',
       'Portugal', 'Slovak Republic', 'Slovenia', 'Spain', 'Sweden',
       'Switzerland', 'Türkiye', 'United Kingdom', 'United States',
       'Euro area (20 countries)',
       'European Union (27 countries from 01/02/2020)', 'OECD',
       'Bulgaria', 'Croatia', 'Romania'], dtype=object)

In [53]:
matching = []
for country_1 in df1["Geopolitical entity (reporting)"].unique():
    for country_2 in df2["Reference area"].unique():
        if country_1==country_2:
            matching.append(country_1)

matching

['Austria',
 'Belgium',
 'Bulgaria',
 'Switzerland',
 'Czechia',
 'Germany',
 'Denmark',
 'Estonia',
 'Greece',
 'Spain',
 'Finland',
 'France',
 'Croatia',
 'Hungary',
 'Ireland',
 'Iceland',
 'Italy',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Sweden',
 'Slovenia',
 'Türkiye',
 'United Kingdom']

In [54]:
df1_filtered_by_country = df1[df1["Geopolitical entity (reporting)"].isin(matching)]

df1_filtered_by_country.groupby("Geopolitical entity (reporting)").count()

                                 STRUCTURE  STRUCTURE_ID  STRUCTURE_NAME  freq  Time frequency  isco08  International Standard Classification of Occupations 2008 (ISCO-08)  wstatus  Labour force and employment status  worktime  Working time  age  Age class  sex  Sex  unit  Unit of measure  geo  TIME_PERIOD  Time  OBS_VALUE  Observation value  OBS_FLAG  Observation status (Flag) V2 structure  CONF_STATUS  Confidentiality status (flag)
Geopolitical entity (reporting)
Austria                                 11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         1                                       1            0                              0
Belgium                                 11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         2                                       2            0                              0
Bulgaria                                11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         3                                       3            0                              0
Croatia                                 11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         1                                       1            0                              0
Czechia                                 11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         1                                       1            0                              0
Denmark                                 11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         4                                       4            0                              0
Estonia                                 11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         1                                       1            0                              0
Finland                                 11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         1                                       1            0                              0
France                                  11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         5                                       5            0                              0
Germany                                 11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         2                                       2            0                              0
Greece                                  11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         1                                       1            0                              0
Hungary                                 11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         2                                       2            0                              0
Iceland                                 11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         2                                       2            0                              0
Ireland                                 11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         2                                       2            0                              0
Italy                                   11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         2                                       2            0                              0
Latvia                                  11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         1                                       1            0                              0
Lithuania                               11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         1                                       1            0                              0
Luxembourg                              11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         2                                       2            0                              0
Netherlands                             11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         1                                       1            0                              0
Norway                                  11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         1                                       1            0                              0
Poland                                  11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         2                                       2            0                              0
Portugal                                11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         1                                       1            0                              0
Romania                                 11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         1                                       1            0                              0
Slovenia                                11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         1                                       1            0                              0
Spain                                   11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         4                                       4            0                              0
Sweden                                  11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         2                                       2            0                              0
Switzerland                             11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         1                                       1            0                              0
Türkiye                                 11            11              11    11              11      11                                                 11                         11                                  11        11            11   11         11   11   11    11               11   11           11     0         11                  0         2                                       2            0                              0
United Kingdom                           6             6               6     6               6       6                                                  6                          6                                   6         6             6    6          6    6    6     6                6    6            6     0          6                  0         0                                       0            0                              0

In [55]:
df2_filtered_by_country = df2[df2["Reference area"].isin(matching)]

df2_filtered_by_country.groupby("Reference area").count()

                STRUCTURE  STRUCTURE_ID  STRUCTURE_NAME  ACTION  REF_AREA  FREQ  Frequency of observation  MEASURE  Measure  ACTIVITY  Economic activity  UNIT_MEASURE  Unit of measure  PRICE_BASE  Price base  TRANSFORMATION  Transformation  ASSET_CODE  Asset type  CONVERSION_TYPE  Conversion type  TIME_PERIOD  Time period  OBS_VALUE  Observation value  OBS_STATUS  Observation status  UNIT_MULT  Unit multiplier  BASE_PER  Base period  DECIMALS  Decimals
Reference area
Austria                22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Belgium                22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Bulgaria               22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Croatia                22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Czechia                22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Denmark                22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Estonia                22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Finland                22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
France                 22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Germany                22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Greece                 22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Hungary                22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Iceland                22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Ireland                22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Italy                  22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Latvia                 22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Lithuania              22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Luxembourg             22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Netherlands            22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Norway                 22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Poland                 22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Portugal               22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Romania                22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Slovenia               22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Spain                  22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Sweden                 22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Switzerland            22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22
Türkiye                16            16              16      16        16    16                        16       16       16        16                 16            16               16          16          16              16              16          16          16               16               16           16            0         16                  0          16                  16         16               16         8            0        16        16
United Kingdom         22            22              22      22        22    22                        22       22       22        22                 22            22               22          22          22              22              22          22          22               22               22           22            0         22                  0          22                  22         22               22        11            0        22        22

In [56]:
df2_filtered_by_country_and_date = df2_filtered_by_country[df2_filtered_by_country['TIME_PERIOD']>=2014]

df2_filtered_by_country_and_date[df2_filtered_by_country_and_date['Reference area']=='Austria']['TIME_PERIOD']

df2_filtered_by_country_and_date.groupby("TIME_PERIOD").count()

             STRUCTURE  STRUCTURE_ID  STRUCTURE_NAME  ACTION  REF_AREA  Reference area  FREQ  Frequency of observation  MEASURE  Measure  ACTIVITY  Economic activity  UNIT_MEASURE  Unit of measure  PRICE_BASE  Price base  TRANSFORMATION  Transformation  ASSET_CODE  Asset type  CONVERSION_TYPE  Conversion type  Time period  OBS_VALUE  Observation value  OBS_STATUS  Observation status  UNIT_MULT  Unit multiplier  BASE_PER  Base period  DECIMALS  Decimals
TIME_PERIOD
2014                58            58              58      58        58              58    58                        58       58       58        58                 58            58               58          58          58              58              58          58          58               58               58            0         58                  0          58                  58         58               58        29            0        58        58
2015                58            58              58      58        58              58    58                        58       58       58        58                 58            58               58          58          58              58              58          58          58               58               58            0         58                  0          58                  58         58               58        29            0        58        58
2016                58            58              58      58        58              58    58                        58       58       58        58                 58            58               58          58          58              58              58          58          58               58               58            0         58                  0          58                  58         58               58        29            0        58        58
2017                58            58              58      58        58              58    58                        58       58       58        58                 58            58               58          58          58              58              58          58          58               58               58            0         58                  0          58                  58         58               58        29            0        58        58
2018                58            58              58      58        58              58    58                        58       58       58        58                 58            58               58          58          58              58              58          58          58               58               58            0         58                  0          58                  58         58               58        29            0        58        58
2019                58            58              58      58        58              58    58                        58       58       58        58                 58            58               58          58          58              58              58          58          58               58               58            0         58                  0          58                  58         58               58        29            0        58        58
2020                58            58              58      58        58              58    58                        58       58       58        58                 58            58               58          58          58              58              58          58          58               58               58            0         58                  0          58                  58         58               58        29            0        58        58
2021                58            58              58      58        58              58    58                        58       58       58        58                 58            58               58          58          58              58              58          58          58               58               58            0         58                  0          58                  58         58               58        29            0        58        58
2022                56            56              56      56        56              56    56                        56       56       56        56                 56            56               56          56          56              56              56          56          56               56               56            0         56                  0          56                  56         56               56        28            0        56        56
2023                56            56              56      56        56              56    56                        56       56       56        56                 56            56               56          56          56              56              56          56          56               56               56            0         56                  0          56                  56         56               56        28            0        56        56
2024                56            56              56      56        56              56    56                        56       56       56        56                 56            56               56          56          56              56              56          56          56               56               56            0         56                  0          56                  56         56               56        28            0        56        56

In [57]:
df2.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'REF_AREA', 'Reference area', 'FREQ', 'Frequency of observation', 'MEASURE', 'Measure', 'ACTIVITY', 'Economic activity', 'UNIT_MEASURE', 'Unit of measure', 'PRICE_BASE', 'Price base', 'TRANSFORMATION', 'Transformation', 'ASSET_CODE', 'Asset type', 'CONVERSION_TYPE', 'Conversion type', 'TIME_PERIOD', 'Time period', 'OBS_VALUE', 'Observation value', 'OBS_STATUS', 'Observation status', 'UNIT_MULT', 'Unit multiplier', 'BASE_PER', 'Base period', 'DECIMALS', 'Decimals'], dtype='object')

In [58]:
df1.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'freq', 'Time frequency', 'isco08', 'International Standard Classification of Occupations 2008 (ISCO-08)', 'wstatus', 'Labour force and employment status', 'worktime', 'Working time', 'age', 'Age class', 'sex', 'Sex', 'unit', 'Unit of measure', 'geo', 'Geopolitical entity (reporting)', 'TIME_PERIOD', 'Time', 'OBS_VALUE', 'Observation value', 'OBS_FLAG', 'Observation status (Flag) V2 structure', 'CONF_STATUS', 'Confidentiality status (flag)'], dtype='object')

In [59]:
df1[['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'freq', 'Time frequency',
       'isco08',
       'International Standard Classification of Occupations 2008 (ISCO-08)',
       'wstatus', 'Labour force and employment status', 'worktime',
       'Working time', 'age', 'Age class', 'sex', 'Sex', 'unit',
       'Unit of measure', 'geo', 'Geopolitical entity (reporting)',
       'TIME_PERIOD', 'Time', 'OBS_VALUE', 'Observation value', 'OBS_FLAG',
       'Observation status (Flag) V2 structure', 'CONF_STATUS',
       'Confidentiality status (flag)']]
df1.head(12)

   STRUCTURE         STRUCTURE_ID                                 STRUCTURE_NAME freq Time frequency isco08 International Standard Classification of Occupations 2008 (ISCO-08) wstatus Labour force and employment status worktime Working time     age            Age class sex    Sex unit Unit of measure geo Geopolitical entity (reporting)  TIME_PERIOD  Time  OBS_VALUE  Observation value OBS_FLAG Observation status (Flag) V2 structure  CONF_STATUS  Confidentiality status (flag)
1   dataflow  ESTAT:TPS00071(1.0)  Hours worked per week of full-time employment    A         Annual  TOTAL                                              Total                      EMP                   Employed persons       FT    Full-time  Y15-64  From 15 to 64 years   T  Total   HR            Hour  AT                         Austria         2014   NaN       42.9                NaN      NaN                                    NaN          NaN                            NaN
2   dataflow  ESTAT:TPS00071(1.0)  Hours worked per week of full-time employment    A         Annual  TOTAL                                              Total                      EMP                   Employed persons       FT    Full-time  Y15-64  From 15 to 64 years   T  Total   HR            Hour  AT                         Austria         2015   NaN       42.8                NaN      NaN                                    NaN          NaN                            NaN
3   dataflow  ESTAT:TPS00071(1.0)  Hours worked per week of full-time employment    A         Annual  TOTAL                                              Total                      EMP                   Employed persons       FT    Full-time  Y15-64  From 15 to 64 years   T  Total   HR            Hour  AT                         Austria         2016   NaN       42.8                NaN      NaN                                    NaN          NaN                            NaN
4   dataflow  ESTAT:TPS00071(1.0)  Hours worked per week of full-time employment    A         Annual  TOTAL                                              Total                      EMP                   Employed persons       FT    Full-time  Y15-64  From 15 to 64 years   T  Total   HR            Hour  AT                         Austria         2017   NaN       42.7                NaN      NaN                                    NaN          NaN                            NaN
5   dataflow  ESTAT:TPS00071(1.0)  Hours worked per week of full-time employment    A         Annual  TOTAL                                              Total                      EMP                   Employed persons       FT    Full-time  Y15-64  From 15 to 64 years   T  Total   HR            Hour  AT                         Austria         2018   NaN       42.5                NaN      NaN                                    NaN          NaN                            NaN
6   dataflow  ESTAT:TPS00071(1.0)  Hours worked per week of full-time employment    A         Annual  TOTAL                                              Total                      EMP                   Employed persons       FT    Full-time  Y15-64  From 15 to 64 years   T  Total   HR            Hour  AT                         Austria         2019   NaN       42.3                NaN      NaN                                    NaN          NaN                            NaN
7   dataflow  ESTAT:TPS00071(1.0)  Hours worked per week of full-time employment    A         Annual  TOTAL                                              Total                      EMP                   Employed persons       FT    Full-time  Y15-64  From 15 to 64 years   T  Total   HR            Hour  AT                         Austria         2020   NaN       42.1                NaN      NaN                                    NaN          NaN                            NaN
8   dataflow  ESTAT:TPS00071(1.0)  Hours worked per week of full-time employment    A         Annual  TOTAL                                              Total                      EMP                   Employed persons       FT    Full-time  Y15-64  From 15 to 64 years   T  Total   HR            Hour  AT                         Austria         2021   NaN       41.8                NaN        b                   break in time series          NaN                            NaN
9   dataflow  ESTAT:TPS00071(1.0)  Hours worked per week of full-time employment    A         Annual  TOTAL                                              Total                      EMP                   Employed persons       FT    Full-time  Y15-64  From 15 to 64 years   T  Total   HR            Hour  AT                         Austria         2022   NaN       41.7                NaN      NaN                                    NaN          NaN                            NaN
10  dataflow  ESTAT:TPS00071(1.0)  Hours worked per week of full-time employment    A         Annual  TOTAL                                              Total                      EMP                   Employed persons       FT    Full-time  Y15-64  From 15 to 64 years   T  Total   HR            Hour  AT                         Austria         2023   NaN       41.7                NaN      NaN                                    NaN          NaN                            NaN
11  dataflow  ESTAT:TPS00071(1.0)  Hours worked per week of full-time employment    A         Annual  TOTAL                                              Total                      EMP                   Employed persons       FT    Full-time  Y15-64  From 15 to 64 years   T  Total   HR            Hour  AT                         Austria         2024   NaN       41.6                NaN      NaN                                    NaN          NaN                            NaN
12  dataflow  ESTAT:TPS00071(1.0)  Hours worked per week of full-time employment    A         Annual  TOTAL                                              Total                      EMP                   Employed persons       FT    Full-time  Y15-64  From 15 to 64 years   T  Total   HR            Hour  BA          Bosnia and Herzegovina         2021   NaN       42.3                NaN        b                   break in time series          NaN                            NaN

In [60]:
df2[['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'REF_AREA', 
     'Reference area', 'FREQ', 'Frequency of observation', 'MEASURE', 'Measure'
     , 'ACTIVITY', 'Economic activity', 'UNIT_MEASURE', 'Unit of measure', 'PRICE_BASE'
     , 'Price base', 'TRANSFORMATION', 'Transformation', 'ASSET_CODE', 'Asset type', 
     'CONVERSION_TYPE', 'Conversion type', 'TIME_PERIOD', 'Time period', 'OBS_VALUE', 
     'Observation value', 'OBS_STATUS', 'Observation status', 'UNIT_MULT', 'Unit multiplier', 'BASE_PER', 'Base period', 'DECIMALS', 'Decimals']]

df2.head(20)

   STRUCTURE                      STRUCTURE_ID         STRUCTURE_NAME ACTION REF_AREA Reference area FREQ Frequency of observation MEASURE                            Measure ACTIVITY       Economic activity UNIT_MEASURE                     Unit of measure PRICE_BASE                     Price base TRANSFORMATION        Transformation ASSET_CODE      Asset type CONVERSION_TYPE Conversion type  TIME_PERIOD  Time period  OBS_VALUE  Observation value OBS_STATUS Observation status  UNIT_MULT Unit multiplier  BASE_PER  Base period  DECIMALS Decimals
0   DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2017          NaN  60.894970                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
1   DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted          V                 Current prices              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2017          NaN  55.898245                NaN          A       Normal value          0           Units       NaN          NaN         2      Two
2   DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted          V                 Current prices              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2024          NaN  81.473991                NaN          A       Normal value          0           Units       NaN          NaN         2      Two
3   DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted          V                 Current prices              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2016          NaN  55.681847                NaN          A       Normal value          0           Units       NaN          NaN         2      Two
4   DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2016          NaN  60.627535                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
5   DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2015          NaN  60.178004                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
6   DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted          V                 Current prices              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2015          NaN  52.347857                NaN          A       Normal value          0           Units       NaN          NaN         2      Two
7   DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted          V                 Current prices              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2014          NaN  53.175260                NaN          A       Normal value          0           Units       NaN          NaN         2      Two
8   DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2014          NaN  59.720210                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
9   DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2024          NaN  55.244685                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
10  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2023          NaN  62.001136                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
11  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted          V                 Current prices              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2023          NaN  78.421364                NaN          A       Normal value          0           Units       NaN          NaN         2      Two
12  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted          V                 Current prices              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2022          NaN  76.717940                NaN          A       Normal value          0           Units       NaN          NaN         2      Two
13  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2022          NaN  61.832129                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
14  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2021          NaN  64.115965                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
15  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted          V                 Current prices              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2021          NaN  72.645892                NaN          A       Normal value          0           Units       NaN          NaN         2      Two
16  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted          V                 Current prices              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2020          NaN  65.144473                NaN          A       Normal value          0           Units       NaN          NaN         2      Two
17  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2020          NaN  63.247872                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
18  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2019          NaN  62.167396                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
19  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUS      Australia    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted          V                 Current prices              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2019          NaN  60.970599                NaN          A       Normal value          0           Units       NaN          NaN         2      Two

In [61]:
# 1. Tworzymy nową ramkę danych z wierszami, które chcemy zachować
# Używamy .str.strip(), aby usunąć wszelkie wiodące/kończące spacje
# przed wykonaniem DOKŁADNEGO porównania (==).
df2_filtered_by_price = df2_filtered_by_country_and_date[df2_filtered_by_country_and_date['Price base'].str.strip() == 'Chain linked volume (rebased)']

# Powinno wyświetlić tylko ['Chain linked volume']
df2_filtered_by_price['Price base'].unique()

#wyświetlenie
df2_filtered_by_price_sorted = df2_filtered_by_price.sort_values(['Reference area','TIME_PERIOD'])
df2_filtered_by_price_sorted.head(12)

   STRUCTURE                      STRUCTURE_ID         STRUCTURE_NAME ACTION REF_AREA Reference area FREQ Frequency of observation MEASURE                            Measure ACTIVITY       Economic activity UNIT_MEASURE                     Unit of measure PRICE_BASE                     Price base TRANSFORMATION        Transformation ASSET_CODE      Asset type CONVERSION_TYPE Conversion type  TIME_PERIOD  Time period  OBS_VALUE  Observation value OBS_STATUS Observation status  UNIT_MULT Unit multiplier  BASE_PER  Base period  DECIMALS Decimals
28  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUT        Austria    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2014          NaN  63.833346                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
27  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUT        Austria    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2015          NaN  64.780497                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
24  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUT        Austria    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2016          NaN  64.751527                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
22  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUT        Austria    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2017          NaN  65.578525                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
41  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUT        Austria    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2018          NaN  65.922791                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
40  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUT        Austria    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2019          NaN  65.897644                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
37  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUT        Austria    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2020          NaN  68.001116                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
36  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUT        Austria    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2021          NaN  67.528725                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
33  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUT        Austria    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2022          NaN  69.749902                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
32  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUT        Austria    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2023          NaN  68.202756                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
23  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      AUT        Austria    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2024          NaN  68.057878                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two
61  DATAFLOW  OECD.SDD.TPS:DSD_PDB@DF_PDB(2.0)  Productivity database      I      BEL        Belgium    A                   Annual  GVAHRS  Gross value added per hour worked       _T  Total - all activities    USD_PPP_H  US dollars per hour, PPP converted         LR  Chain linked volume (rebased)              N  Non transformed data         _Z  Not applicable             PPP   PPP converted         2014          NaN  69.206244                NaN          A       Normal value          0           Units    2020.0          NaN         2      Two

In [62]:
df1_filtered_by_country[['Geopolitical entity (reporting)',
       'TIME_PERIOD','OBS_VALUE']].head(50)

   Geopolitical entity (reporting)  TIME_PERIOD  OBS_VALUE
1                          Austria         2014       42.9
2                          Austria         2015       42.8
3                          Austria         2016       42.8
4                          Austria         2017       42.7
5                          Austria         2018       42.5
..                             ...          ...        ...
66                         Czechia         2015       41.8
67                         Czechia         2016       41.7
68                         Czechia         2017       41.7
69                         Czechia         2018       41.7
70                         Czechia         2019       41.5

[50 rows x 3 columns]

In [63]:
df2_filtered_by_price_sorted[['Reference area','TIME_PERIOD','OBS_VALUE']].head(30)

    Reference area  TIME_PERIOD  OBS_VALUE
28         Austria         2014  63.833346
27         Austria         2015  64.780497
24         Austria         2016  64.751527
22         Austria         2017  65.578525
41         Austria         2018  65.922791
40         Austria         2019  65.897644
37         Austria         2020  68.001116
36         Austria         2021  67.528725
33         Austria         2022  69.749902
32         Austria         2023  68.202756
23         Austria         2024  68.057878
61         Belgium         2014  69.206244
60         Belgium         2015  69.947779
59         Belgium         2016  69.679379
58         Belgium         2017  69.538162
57         Belgium         2018  69.710819
56         Belgium         2019  70.423076
55         Belgium         2020  73.479092
54         Belgium         2021  71.844460
53         Belgium         2022  71.885857
52         Belgium         2023  71.939644
51         Belgium         2024  72.447409
838       Bulgaria         2014  24.302329
835       Bulgaria         2015  24.925205
834       Bulgaria         2016  25.453944
935       Bulgaria         2017  25.831306
851       Bulgaria         2018  26.696223
848       Bulgaria         2019  27.997205
847       Bulgaria         2020  28.265841
844       Bulgaria         2021  30.326579

In [64]:
import pandas as pd
# Załóżmy, że Twoje DataFrame'y to:
# df1 = df1_filtered_by_country
# df2 = df2_filtered_by_price_sorted

# Wykonanie fuzji (łączenia) na dwóch kluczach: kraju i roku
df_fused = pd.merge(
    df1_filtered_by_country,  # Pierwsza tabela (Eurostat - Czas Pracy)
    df2_filtered_by_price_sorted,  # Druga tabela (OECD - Produktywność)
    
    # Określenie, które kolumny są wspólne (łączenie po tych samych wartościach)
    left_on=['Geopolitical entity (reporting)', 'TIME_PERIOD'],
    right_on=['Reference area', 'TIME_PERIOD'],
    
    # Użycie metody inner join (połącz tylko tam, gdzie są dane w OBU tabelach)
    how='inner' 
)

In [67]:
# 1. Zmiana nazw kolumn wartości i kluczy, by były czytelne
df_final = df_fused.rename(columns={
    # Kolumny kluczy
    'Geopolitical entity (reporting)': 'Country',
    'TIME_PERIOD': 'Year',
    
    # Kolumny wartości (OBS_VALUE z sufiksami)
    'OBS_VALUE_x': 'Annual_Hours_Worked',       # Czas Pracy (z df1)
    'OBS_VALUE_y': 'Productivity_PPP_Value',    # Produktywność (z df2)
})

# 2. Wybór tylko 4 potrzebnych kolumn do finalnego Outputu
df_final = df_final[['Country', 'Year', 'Annual_Hours_Worked', 'Productivity_PPP_Value']]

# 3. Sprawdzenie, jak wygląda końcowy DataFrame
print("\n--- Połączony i Końcowy DataFrame ---")
print(df_final.head(20))

# 4. Zapisanie gotowego, ujednoliconego pliku (Output 2: CSV)
df_final.to_csv('final_data_for_analysis.csv', index=False)

--- Połączony i Końcowy DataFrame ---
    Country  Year  Annual_Hours_Worked  Productivity_PPP_Value
0   Austria  2014                 42.9               63.833346
1   Austria  2015                 42.8               64.780497
2   Austria  2016                 42.8               64.751527
3   Austria  2017                 42.7               65.578525
4   Austria  2018                 42.5               65.922791
5   Austria  2019                 42.3               65.897644
6   Austria  2020                 42.1               68.001116
7   Austria  2021                 41.8               67.528725
8   Austria  2022                 41.7               69.749902
9   Austria  2023                 41.7               68.202756
10  Austria  2024                 41.6               68.057878
11  Belgium  2014                 41.3               69.206244
12  Belgium  2015                 41.4               69.947779
13  Belgium  2016                 41.3               69.679379
14  Belgium  2017                 41.2               69.538162
15  Belgium  2018                 41.0               69.710819
16  Belgium  2019                 41.1               70.423076
17  Belgium  2020                 40.9               73.479092
18  Belgium  2021                 40.5               71.844460
19  Belgium  2022                 40.4               71.885857